@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f5f5f5;
    font-family: "Josefin Sans", sans-serif;
}

body {
    height: 100vh;
    font-family: "Josefin Sans", sans-serif;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Garante que o vídeo fique atrás do conteúdo */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique em cima do vídeo */
    background-color:rgba(75, 75, 75, 0.329);
    border: 2px solid rgba(92, 92, 92, 0.753);
    border-radius: 10px;
}

.container-title {
    text-align: center;
    font-size: 40px;
    color: #f5f5f5;
}

.title {
    margin-bottom: 20px;
}

.container-input {
    padding-top: 30px;
    padding-bottom: 30px;
}


/*  peguei no chat gpt pra tirar as setinhas do input type number  */
.container-input input[type="number"] {
    /* Para navegadores que suportam o padrão mais recente (Chrome, Safari, Edge) */
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
    padding: 10px;
    margin-bottom: 10px;
}

/* Remove as setas de incremento e decremento em navegadores WebKit (Chrome, Safari) */
.container-input input[type="number"]::-webkit-inner-spin-button,
.container-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.input {
    border: none;
    background: none;
    border-bottom: 2px solid #f5f5f5;
    height: 50px;
    width: 400px;
    font-size: 20px;
}

.input:focus {
    outline: none;
    color: #f5f5f5;
}

.button {
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(255, 255, 255, 0.3) 10px 10px;
    background-color: rgb(71, 71, 71);
    color: #f5f5f5;
    transition: 0.3s ease;
    margin-top: 40px;
}

.button:hover {
    padding: 8px;
    transition: 0.3s;
}

.container-button {
    display: flex;
    gap: 155px;
}

.creator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  

@media screen and (max-width: 1250px) {

    .container-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        white-space: nowrap; /* Impede que o texto quebre em várias linhas */
        text-align: center;
    }

    .title {
      font-size: 30px;
    }

    .paragraph {
        font-size: 20px;
    }

    .container {
        width: 410px;
    }

    .container-input {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input {
        width: 200px;
    }

    .container-button {
        gap: 40px;
    }

    .button {
        padding: 5px;
    }
}
